<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <form class="container" method="post" action="/register">
      <div class="form singup">
        <h2>ثبت نام</h2>
        <div class="inputBox">
          <input type="text" name="userName" id="userName" required="required" />
          <i class="material-icons">person_outline</i>
          <span>نام کاربری</span>
        </div>
        <div class="inputBox">
          <input type="text" name="phoneNumber" id="phoneNumber" required="required" />
          <i class="material-icons">phone_android</i>
          <span> شماره تلفن </span>
        </div>
        <div class="inputBox">
          <input type="password" name="password" id="password" required="required" />
          <i class="material-icons">lock</i>
          <span>ایجاد رمزعبور</span>
        </div>
        <div class="inputBox">
          <input type="password" name="Cpassword" id="Cpassword" required="required" />
          <i class="material-icons">lock</i>
          <span>تایید رمزعبور</span>
        </div>
        <div class="inputBox">
          <input type="submit" id="send" value="ایجاد حساب کاربری" />
        </div>
        <p>
          قبلا عضو شده ؟
          <a href="http://localhost:3000/login" class="login">وارد شدن</a>
        </p>
      </div>
    </div>
    <script src="/assets/js/register.js"></script>
  </body>
</html>
